{% schema %}
{
  "name": "Fabric Properties",
  "tag": "section",
  "class": "fabric-properties-section",
  "settings": [],
  "presets": [
    {
      "name": "Fabric Properties"
    }
  ]
}
{% endschema %}

<section class="qaps-fabric-section">
  <div class="qaps-container">
 <ul class="qaps-fabric-properties">
  <li>
    <img src="https://vahro.in/cdn/shop/files/cotton.png?v=1768648565" alt="100% Pure Cotton">
    <span>100% Pure Cotton</span>
  </li>

  <li>
    <img src="https://vahro.in/cdn/shop/files/needle-with-thread-to-sew-clothes.png?v=1768647984" alt="Ultra Fine Cotton Yarn">
    <span>Ultra Fine Cotton Yarn</span>
  </li>

  <li>
    <img src="https://vahro.in/cdn/shop/files/levitation_1.png?v=1756705647" alt="Luxuriously soft on skin">
    <span>Luxuriously soft on skin</span>
  </li>

  <li>
    <img src="https://vahro.in/cdn/shop/files/water.png?v=1756455006" alt="Ultra Lightweight & Breathable">
    <span>Ultra Lightweight & Breathable</span>
  </li>

  <li>
    <img src="https://vahro.in/cdn/shop/files/suit.png?v=1768643101" alt="Slow & Precise Tailoring">
    <span>Slow & Precise Tailoring</span>
  </li>

  <li>
    <img src="https://vahro.in/cdn/shop/files/search.png?v=1768643365" alt="Built On Research & Innovation">
    <span>Built On Research & Innovation</span>
  </li>

  <li>
    <img src="https://vahro.in/cdn/shop/files/Rectangle_8.png?v=1754657255" alt="3x More Structured & Durable">
    <span>3x More Structured & Durable</span>
  </li>

  <li>
    <img src="https://vahro.in/cdn/shop/files/shirt_1.png?v=1756974813" alt="Crisp, Structured Look">
    <span>Crisp, Structured Look</span>
  </li>

  <li>
    <img src="https://vahro.in/cdn/shop/files/limited.png?v=1768643591" alt="Limited Pieces Only">
    <span>Limited Pieces Only</span>
  </li>

  <li>
    <img src="https://vahro.in/cdn/shop/files/clean_1.png?v=1756974880" alt="Ages Beautifully">
    <span>Ages Beautifully</span>
  </li>
</ul>
  </div>
</section>

<style>
.qaps-container {
  max-width: 1060px;
  margin: 0 auto;
}

.qaps-container ul {
  margin-left: 0 !important;
  padding: 0;
  list-style: none;
}

.qaps-fabric-properties {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
}

.qaps-fabric-properties li {
  display: flex;
  gap: 9px;
  width: 100%;
  padding: 12px 9px;
  background: #f8f8f8;
  align-items: center;
  box-sizing: border-box;
}

.qaps-fabric-properties li img {
  width: 34px;
  height: 34px;
  object-fit: contain;
}

.qaps-content {
  font-size: 13px;
  line-height: 17px;
  width: fit-content;
}

.font-proxima {
  font-family: "Proxima Nova", sans-serif !important;
}

@media (max-width: 767px) {
  .qaps-fabric-properties {
    grid-template-columns: 1fr 1fr;
  }

  .qaps-fabric-properties li {
    width: 100%;
  }
}
</style>